<h1>Hello <%= @user.name %>,</h1>
<p>
  You have a task not resolved Yet :
  <br />
  Task Name : <%= @task.title %>
  <br />
  Task Description : <%= @task.description %>
</p>
<p>
  Please Complete it as soon as possible: <%= @url %>.
</p>