<h1>Hello <%= @user.name %>,</h1>
<p>
  You have a new task assigned to you :
  <br />
  Task Name : <%= @task.title %>
  <br />
  Task Description : <%= @task.description %>
</p>
<p>
  Follow this link: <%= @url %>.
</p>